.wrapper {
    height: 80px;
    width: 100vw;
    background-color: var(--background-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
